body { color: blue;	font-family: "Calibri", "Lucida Grande", Verdana, "Trebuchet MS", Geneva, Helvetica, Arial, sans-serif; }
h1, h2, h3 { font-family: "Georgia", serif; font-weight: 400; }
h1 { font-size: 55px; }
h2 { font-size: 35px; }
p { 	margin-bottom: 24px; }

.container { width: 1200px; 	margin: 0 auto; }
.container-center { margin: 0 auto 70px auto; width: 1000px; text-align: center; }
.top-container { overflow: hidden; padding: 48px 0; }
.header { background: url(../images/header.jpg) 0 0 no-repeat; height: 460px; background-size: 100%; margin-bottom: 10px; }
.header-contents { text-align: center; color: white; padding: 0 200px; }